{% block dashboard_inc_sessions %}
<ul role="list" class="divide-y divide-gray-100">
    <li class="flex items-center justify-between gap-x-6 py-5">
        <div class="min-w-0">
            <div class="flex items-start gap-x-3">
                <p class="text-sm/6 font-semibold text-gray-900">Patient Full Name</p>
                <p
                    class="mt-0.5 rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium whitespace-nowrap text-green-700 ring-1 ring-green-600/20 ring-inset">
                    Unpaid</p>
            </div>
            <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                <p class="whitespace-nowrap">Scheduled on <time datetime="2023-03-17T00:00Z">March 17, 2023</time></p>
                <svg viewBox="0 0 2 2" class="size-0.5 fill-current">
                    <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="truncate">Created by Medic Email</p>
            </div>
        </div>
        <div class="flex flex-none items-center gap-x-4">
            <a href="#"
                class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:block">
                Edit
            </a>
            <a href="#"
                class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:block">
                Cancel
            </a>
        </div>
    </li>
</ul>

{% endblock dashboard_inc_sessions %}